<%# <% if user_signed_in? && current_user.id == document.user_id %> 
  <%# <div style='display: inline; float: right;'> %>
    <%# <%= link_to icon('fas', 'pen'), edit_document_path(document), id: :"button-edit-#{document.id}" %> %>
    <%# <%= link_to icon('fas', 'trash-alt'), document_path(document), id: :"button-delete-#{document.id}",method: :delete, data: { confirm: '削除してよろしいですか？' } %> %>
  <%# </div> %>
<%# <% else %> 
  <%# <div style='display: inline; float: right;'> %>
    <%# <%= render 'documents/bookmark_area', document: document %>
  <%# </div> %>
<%# <% end %> 