<div class = "wrapper">
  <div class = "header">
    <%= render partial: 'header' %> 
  </div>
  <div class = "contents" >
    <%= render partial: 'contents', locals: {documents: @documents} %> 
  </div>
</div>
<%= render 'cooking-apri'%>