.btn-box {
  /* background-color: #efefef; */
  background-image: image-url("cooking.jpg");
  background-size: cover;
  height: 80vh;
  width: 78%;
  z-index: 29;
  display: none;
  position: absolute;
  top: 15vh;
  left: 11%;
  #act {
    height: 100px;
    width: 100%;
    background-color: orange;
    text-align: center;
    color: #efefef;
    font-size: 50px;
    line-height: 100px;
    margin-bottom: 200px;
  }
  #btn {
    width: 600px;
    height: 200px;
    background-color: #ef454a;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
    line-height: 200px;
    color: #fff;
    font-size: 42px;
    // cursor: pointer;
    box-shadow: 0 10px 0 #d1483e;
    user-select: none;
    .btn-act {
      cursor: pointer;
    }
  }
  
  #btn:hover {
    opacity: 0.9;
  }
  
  #btn:active {
    box-shadow: 0px 0px 0 #d1483e;
    /* padding-top: 5px; */
    transform: translateY(10px);
    border-bottom: none;
  }
}


