.devise {
  background-image: image-url("yuubaenokage.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
  padding: 100px 0 50px 0;
  box-sizing: border-box;
  &__box {
    margin-top: 50px;
    height: 60vh;
    width: 50%;
    // background-color: blue;
    background: rgba(250, 250, 250, 0);
    display: flex;
    align-items: center;
    margin: 0 auto;
    // border: 1px solid #353434;
    &__content {
      margin: 0 auto;
      text-align: center;
      color: #111111;
      height: 58vh;
      width: 98%;
      // background-color: red;
      background: rgba(250, 250, 250, 0);
      // border: 1px solid #353434;
      h2 {
        font-size: 30px;
        margin-bottom: 10px;
        margin-top: 50px;
      }
      .field {
        max-width: 60%;
        margin: 10px auto;
        font-size: 30px;
      }
      .remember-field {
      }
      .actions {
        margin-top: 10px;
        height: 50px;
        &__btn {
          height: 80%;
          width: 40%;
          cursor: pointer;
          border-style: none;
          background-color: #7c7777;
          color: #CCC;
          &:hover {
            opacity: 1; 
            //  これは透過の度
            color: #555353;
            //  hoverがかかった時の文字色
            background-color: #dbe3e6;
            //  実際にhoverにかかる色
            transition: 0.4s;
            // hoverがかかり終わるまでの時
          }
        }
      } 
      a {
        color: black;
      }
    }
  }
} 

