// Place all the styles related to the documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  // overflow: hidden;
}
.wrapper {
  // background-color: #999999;
  background-image: url(https://raw.githubusercontent.com/JulianLaval/canvas-particle-network/master/img/demo-bg.jpg);
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
  // filter: drop-shadow(3px 3px 3px rgba(100,100,100,0.8));
  .header {
    // background-color: #c7c2c2;
    background: rgba(250, 250, 250, 0);
    height: 15vh;
    width: 100%;
    display: flex;
    // position: relative;
    .side-header {
      height: 15vh;
      width: 20%;
      // background-color: #504d4d;
      background: rgba(250, 250, 250, 0);
      .set-header {
        display: flex;
        .fas {
          font-size: 400%;
          margin: 1vh 2%;
          padding-left: 3%;
          color: green;
        }
        .devise-box {
          width: 100%;
          display: flex;
          justify-content: flex-end;
          margin-top: 5vh;
          .log {
            // background-color: #999999;
            width: 40%;
            height: 3vh;
            color: #CCC;
            text-decoration: none;
            &:hover {
              color: rgb(230, 121, 121);
            }
          }
          .sign {
            // background-color: #b9b5b5;
            width: 40%;
            height: 3vh;
            color: #CCC;
            text-decoration: none;
          }
        }
      }
      .name {
        font-size: 130%;
        margin-top: 1vh;
        padding-left: 5px;
        display: flex;
        color: #CCC;
      }
      .name p {
        font-size: 80%;
      }
    }
    
    .main-header {
      // background-color: #d1caca;
      background: rgba(250, 250, 250, 0);
      height: 15vh;
      width: 80%;
      display: flex;
      justify-content: space-between;
      .left-header {
        height: 13vh;
        width: 80%;
        // background-color: #ffffff;
        background: rgba(250, 250, 250, 0);
        margin: 1vh auto;
        margin-left: 2%;
        margin-right: 2%;
        .form {
          height: 13vh;
          width: 100%;
          .search-box {
            // background-color: #d8d6d6;
            background: rgba(250, 250, 250, 0);
            width: 70%;
            height: 5vh;
            margin: 7vh 0 0 1%;
            border-style: none;
            padding: 0 5px 0 5px;
            border: 1px solid #c7c2c2;
            color: #CCC;
          }
          .search-btn {
            background-color: #7c7777;
            width: 10%;
            height: 5vh;
            margin: 7vh 0 0 1%;
            cursor: pointer;
            text-align: center;
            line-height: 5vh;
            font-size: large;
          }
        }  
      }
      .right-header {
        // background-color: #504d4d;
        background: rgba(250, 250, 250, 0);
        height: 15vh;
        width: 20%;
        display: flex;
        justify-content: flex-end;
        position: relative;
        .favorite {
          margin-right: 5%;
          .fa-star {
            font-size: 200%;
            cursor: pointer;
            margin-top: 10vh;
            color: #CCC;
            &:hover {
              color: yellow;
            }
          }
          .fa-bars {
            font-size: 200%;
            cursor: pointer;
            margin-top: 10vh;
            color: #CCC;
            &:hover {
              color: white;
            }
          }
          .bar-box {
            position: absolute;
            right: 0;
            width: 70%;
            background: rgba(250, 250, 250, 0);
            border: 1px solid #c7c2c2;
            margin-top: 3px;
            z-index: 30;
            display: none;
            .bar-contents {
              .contents-btn {
                height: 5vh;
                width: 85%;
                position: fixed;
                border: 1px solid #c7c2c2;
              }
              .bar {
                margin-left: 5px;
                border: 1px solid #c7c2c2;
                margin: 5px;
                color: #ccc;
                cursor: pointer;
                user-select: none;
                &:hover {
                  opacity: 1; 
                  //  これは透過の度
                  color: #555353;
                  //  hoverがかかった時の文字色
                  background-color: #dbe3e6;
                  //  実際にhoverにかかる色
                  transition: 0.4s;
                  // hoverがかかり終わるまでの時
                }
              }
            }
          }
        }
      }
    }
  }

  

  .contents {
    // background-color: #f1ecec;
    background: rgba(250, 250, 250, 0);
    height: 80vh; 
    width: 78%;
    margin: 0 auto;
    filter: drop-shadow(3px 3px 3px rgba(100,100,100,0.8));
    overflow: scroll;
    border-top: 1px solid #c7c2c2;
    border-bottom: 1px solid #c7c2c2;
    // position: fixed;
    .content-box {
      // background-color: rgb(104, 101, 101);
      background: rgba(250, 250, 250, 0);
      height: 45vh;
      width: 99%;
      margin: 15px auto;
      display: flex;
      align-items: center;
      // border: solid 1px #f6f6f6;
      // filter: drop-shadow(3px 3px 3px rgba(100,100,100,0.6));
      .body-content {
        border: 1px solid #c7c2c2;
        margin: 0 auto;
        width: 95%;
        height: 42vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // filter: drop-shadow(3px 3px 3px rgba(100,100,100,0.8));
        .left-content {
          // background-color: rgb(104, 101, 101);
          background: rgba(247, 244, 244, 0.15);
          height: 40vh;
          width: 45%;
          margin: 0 5px;
          border: 1px solid #c7c2c2;
          text-align: center;
          // overflow: auto;
          // object-fit: cover;
          // background-size: cover;
          cursor: pointer;
          user-select: none;
          
          .image {
            // padding-top: 1vh;
            // background-size: cover;
            // background-size: contain;
            // height: 38vh;
            // width: 98%;
            // 全ていらぬ
            max-width: 100%;
            height: 100%;
          }
          .far {
            font-size: 500%;
            line-height: 40vh;
            color: #CCC;
          }
        }
        .right-content {
          // background-color: rgb(104, 101, 101);
          background: rgba(250, 250, 250, 0);
          height: 40vh;
          width: 55%;
          margin-right: 5px;
          
          .top-box {
            // background-color: rgb(104, 101, 101);
            background: rgba(250, 250, 250, 0);
            height: 20vh;
            width: 100%;
            // display: flex;
            position: relative;
            .fa-star {
              font-size: 150%;
              margin-top: 3vh;
              padding: 0 5px;
              color: #CCC;
              &:hover {
                color: yellow;
              }
            }
            .fa-edit {
              font-size: 150%;
              margin-top: 3vh;
              padding: 0 5px;
              color: #CCC;
              cursor: pointer;
              &:hover {
                color: skyblue;
              }
            }
            .fas {
              font-size: 150%;
              margin-top: 3vh;
              padding: 0 5px;
              color: #CCC;
              position: absolute;
              right: 0;
              &:hover {
                color:#ffffff;
              }
            }
            .title {
              // background-color: #fff;
              background: rgba(250, 250, 250, 0);
              border: 1px solid #c7c2c2;
              height: 10vh;
              width: 98%;
              margin: 2vh 5px 0 5px;
              // margin-left: 5px;
              font-size: 90%;
              box-sizing:border-box;
              // border:none;
              resize: none;
              padding-left: 2px;
              color: white;
            }
            
          }
          .bottom-box {
            // background-color: #fff;
            background: rgba(250, 250, 250, 0);
            border: 1px solid #c7c2c2;
            height: 18vh;
            width: 98%;
            margin: 0 auto;
            align-items: center;
            margin: 8px 5px 0 5px;
            font-size: 107%;
            box-sizing:border-box;
            // border:none;
            resize: none;
            padding-left: 2px;
            color: white;
          }
        }
      }
    }
  }
  .footer{
    position:fixed;
    z-index:100;
    width:100%;
    bottom:0px;
    
    // border-top:#222 solid 1px;
    .footer-btn {
      position:fixed;
      right:0px;
      bottom:0px;
      width:50px;
      text-align:center;
      padding:10px;
      // background:#333;
      background: rgba(250, 250, 250, 0);
      color:#eee;
      // font-weight:bold;
      font-size: 300%;
      cursor:pointer;
      user-select: none;
      &:hover {
        // background:#eee;
        color:rgb(9, 216, 188);
      }
    }
    .footer-content {
      text-align:center;
      // background:#666;
      background: rgba(250, 250, 250, 0);
      // opacity: 0.8;
      padding:10px;
      width: 100%;
      display: none;
      float: right;
      margin-right: 2.5%;
      .form-box {
        width: 90%;
        height: 30vh;
        // background-color: #fff;
        background: rgba(250, 250, 250, 0);
        .body-form {
          display: flex;
          justify-content: space-between;
          .left-form {
            // background-color: #e7e0e0;
            background: rgba(250, 250, 250, 0);
            height: 18vh;
            width: 16%;
            text-align: center;
            padding-top: 2vh;
            color: #999999;
            padding-left: 3%;
          }
          .right-form {
            background-color: #242222;
            filter: drop-shadow(3px 3px 3px rgba(100,100,100,0.8));
            // background: rgba(250, 250, 250, 0);
            height: 30vh;
            width: 87%;
            display: flex;
            .image-area {
              width: 45%;
              height: 26vh;
              // background: rgba(250, 250, 250, 0);
              background: rgba(247, 244, 244, 0.15);
              margin: 2vh auto;
              margin-left: 1%;
              border: 1px solid #c7c2c2;
              &__p {
                color: #CCC;
                text-align: center;
                line-height: 26vh;
              }
              .sub-area {
                width: 100%;
                height: 26Vh;
                max-width: 100%;
                height: 100%;
              }
            }
            .new-message {
              width: 100%;
              .form-field {
                display: flex;
                .comment-field {
                  height: 9vh;
                  width: 85%;
                  margin: 1vh 1%;
                  resize: none;
                }
                .label-box {
                  height: 5vh;
                  width: 5%;
                  margin-top: 1vh;
                  
                }
                .file_field {
                  border-style: none;
                  margin-top: 2vh;
                }
              }
              .far {
                font-size: 200%;
                cursor: pointer;
                margin-top: 2vh;
                margin-left: 50%;
                color: #ccc;
              }
              .area-box {
                display: flex;
                .comment-area {
                  height: 17vh;
                  width: 85%;
                  margin: 1vh 1%;
                  resize: none;
                  font-size: 120%;
                  // margin-left: 15%;
                  // background: rgba(250, 250, 250, 0);
                }
                .submit {
                  height: 4vh;
                  width: 7%;
                  border-style: none;
                  margin-top: 7vh;
                  cursor: pointer;
                  margin-left: 2%;
                }
              }
            }
          }
        }
      }
    }
  }
}
